.Self { 
 width: 300px;
 border-radius: 30px;
  display: block;
    margin: auto;
    width: 40%;
}

h1 {
  color: whitesmoke;
  font-size: 5em;
  text-align: center;
 
}

p {
  color: lightgray;
  font-size: 2em;
  text-align: center;
  
}

img {
  width: 300px;
  border-radius: 30px;
  display: block;
    margin: auto;
    width: 40%;
}

h2 {
  color: aquamarine;
  font-size: 2em;
  text-align: center;    
}

.Food {
    width: 200px;
}

h3 {
  color: white;
  font-size: 2em;
  text-align: center;    
}


